@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

section {
  margin: 0.75rem;
  padding: 0.5rem;
  background-color: #EDEDED;
  align-items: center;
  border: 1px solid #000;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  width: 100%;
}