* {box-sizing: border-box;}

:root {
  --grid-unit: 1rem;
  --border-radius-base: 0.5rem;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
}
a {
  color: var(--color-fg);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
  background-color: #1D4D72;
  padding: 20px 10px;
  color: white;
  text-shadow: black 2px 2px 2px;
}

header button {
  background-color: #1D4D72;
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 4em; 
  line-height: 45px;
  border: none;

  top: 10px;
  right: 120px;
  font-size: 4em;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
}

header a {
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
header nav {
 text-align: center;
}
header a img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto 0;
  display: block;
}

header img {
  width: 30%;
  margin: 0 auto 0;
  display: flex;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

header a.active {
  background-color: dodgerblue;
  color: white;
}

header-right {
  float: right;
}

@media screen and (max-width: 900px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  header img {
    width: 60%;
    margin: 0 auto 0;
    display: flex;
  }
  
  header button {
    top: 10px;
    right: 120px;
    font-size: 4em;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
  }

  #menu {
    top: 10px;
    right: 10px;
    font-size: 4em;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
  }
  
  #menu::before {
    content: "☰";
  }
  
  #menu.open::before {
    content: "✖";
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .navigation a {
    display: none;
  }
  
  .navigation.open a {
    display: block;
  }
}

body {
  margin: 0;
  padding: 0;
}
.hero {
  position: relative;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.hero-content {
  position: relative; 
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}