@media screen and (min-width: 1200px) {

  header img {
    width: 20%;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main h2 {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
  }
  .photo:hover {box-shadow: 0 0 50px #333;}
}
  