@media screen and (min-width: 900px) {

  main h2 {
    text-align: center;
  }  
  main {
    display: flex;
    flex-wrap: wrap;
  }

  main section {
    margin: 0 10px;
    height: fit-content;
    justify-content: right;
    align-items: right;
  }


  .photo:hover {box-shadow: 0 0 50px #333;}
}