main {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 0;
  }

  main ul {
    list-style: none;
    padding: 0;
  }

  main ul li {
    margin: 10px 0;
  }
  
  header {
    text-align: center;
    display: grid;
    align-items: center;
    margin-bottom: 40px;
    color: white;
    background-color: #1D4D72;
    text-shadow: black 2px 2px 2px;
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0;
    margin: auto;
  }

  hr {
    border: 1px solid black;
    margin: 40px 0;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    margin: auto;
  }
  
  h3 {
    background-color: #1D4D72;
    color : white;
    padding: 10px;
    text-shadow: black 2px 2px 2px;
  }

  .card {
    border: 1px solid #ccc;
    padding: 20px;
  }

  .card p {
    text-align: center;
  }
  
  
  nav {
    background-color: black;
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  
  nav ul {
    display: inline-block; 
    padding: 0;
    text-align: center;
  }

  nav li {
    padding: 10px;
    margin: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  footer {
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    max-width: 800px;
    background-color: #1D4D72;
  }
  
  img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
  }