@media screen and (min-width: 600px) {
    header {
        background-color: #F9C606;
        text-shadow: black 2px 2px 2px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    
    h3 {
       background-color: #F9C606;
       text-shadow: black 2px 2px 2px;
    }
}